@{
    ViewBag.Title = "Contact";

}






<div class="card border bg-light text-center">

    <h1 class="card-header"> Contact </h1>
    <h3 class="card-body">Telefon:  <button class="btn btn-outline-secondary" action="mailto:someone@example.com">  03123213321 </button> </h3>
    <h3 class="card-body">E-mail: <button class="btn btn-outline-secondary" action="mailto:someone@example.com"> admin@bazar.ro </button></h3>


</div>

