@{
    ViewBag.Title = "Home Page";

}


    <div class="text-center">  
            <div class="container">

                @ViewBag.asd
                    @Html.Partial("_CarList")
                
            </div>
     </div>