@{
    ViewBag.Title = "Home Page";

}


    <div class="text-center">  
            <div class="container">

                <div class="row">
                    @Html.Partial("_CarList")
                </div>
            </div>
     </div>